html, body {
	height: 100vh;
	overflow-x: hidden;
	width: 100%;
}
body {
	text-align:center;
	line-height:1;
	margin: 0;
}
h1 {
	color: #ffffff;
	font: 800 70px/1.416 'Montserrat', serif;
	white-space:nowrap;
}
h1 span {
	color: #a066c9;
}
text {
	color: #ffffff;
	font: 400 18px/1.416 'Montserrat', serif;
	margin-bottom: 55px;
}
nav {
	margin-bottom: 220px;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.content {
	max-width: 1140px;
	margin:auto;
	}

.nav {
	color: #ffffff;
	text-transform: uppercase;
	font: 400 15px/1.416 'Montserrat', serif;
}
.nav li:first-child {color: #753d9d;}
.button {
	 height:50px;
	 border: 2px solid;
	 border-radius: 5px;
	 background-color: transparent;
	 color: #fff;
	 font: 400 18px/1.416 'Montserrat', serif;
	 text-transform: uppercase;
	 padding: 13px;
	 margin: 15px;
	 transition: all 0.5s ease;
}
.button:hover,.button:focus {
	background-color: #753d9d;
	border: 2px solid transparent;
}

.carousel {
	background: url(../img/header_pic_v1.png) no-repeat;
	padding-bottom:30px;
}
.progress {
	max-height: 7px;
	max-width: 233px;
	margin-top: 136px;	
	
	background-color: transparent;
}
.progress .column {
	background-color: #827e87;
	border-radius: 3px;
	max-width : 68px;
	margin-left: 7px;
	margin-right: 7px;
}
.we_are {
}

@media screen and (max-width:1024px) {
	
}